<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
 <link rel="stylesheet" href="home.css">
</head>
<body class="mx-auto container max-w-[360px] mt-6">

<!-- head section -->
<div class="hero max-w-[360px] rounded-2xl"
  style="background-image: url(../pic/Group\ 20.png); border-radius: 10px;"
>
  <div class="hero-overlay rounded-2xl"></div>
  <div class="hero-content text-neutral-content text-center rounded-2xl">
    <div class="max-w-md mb-15 rounded-2xl">
      <label class="input mx-auto">
  <svg class="h-[2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <g
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke-width="2.5"
      fill="none"
      stroke="currentColor"
    >
      <circle cx="11" cy="11" r="8"></circle>
      <path d="m21 21-4.3-4.3"></path>
    </g>
  </svg>
  <input type="search" required placeholder="Search" class="w-full"/>
</label>
<h1 class="hidden">Refer a Friends and Win Taka 200 off</h1>
    </div>
  </div>
</div>
<!-- sports -->
 <div>
    <h1 class="font-bold">Sports</h1>
    <img src="../pic/Group 1911.png" alt="" class="mx-auto">
 </div>
 <!-- available Venues -->
  <div>
    <div class="flex justify-between items-center mb-2">
        <h1 class="font-bold ">Available Venues</h1>
        <div>
            <i class="fa-solid fa-sliders"></i>
        </div>
    </div>
    <div class="flex justify-around items-center mb-2.5">
        <div class="bg-red-500 rounded-4xl p-2.5 text-white">
            <p>24 Aug   <i class="fa-solid fa-angle-down" style="margin-left: 10px;"></i> </p>
        </div>
        <div class="bg-blue-700 rounded-4xl p-2.5 text-white">
            <p>All Sports  </p>
        </div>
        <div class="border-2 border-black rounded-4xl p-2.5">
            <p>Cricket </p>
        </div>
        <div class="border-2 border-black rounded-4xl p-2.5">
            <p>Football </p>
        </div>
    </div>
    <!-- cart -->
     <div>
       <div class="flex justify-between items-center">
        <h1 class="text-[1rem] font-bold"><a href="review.html">Hotfut SPR City </a></h1>
        <p><i class="fa-solid fa-star"></i>4.0 [5]</p>
       </div>
       <p class="opacity-50">Stephenson road, Perambur</p>
       <img src="../pic/Mask group.png" alt="" srcset="" class="mx-auto w-full">
       <div class="mt-2">
        <div class="flex items-center">
            <i class="fa-solid fa-futbol"></i>
            <p class="text-[8px]">Badminton, Box Cricket, Cricket,  Football, Tennis</p>
        </div>
       </div>
     </div>
     <hr class="mt-1.5">
     <div>
       <div class="flex justify-between items-center">
        <h1 class="text-[1rem] font-bold"><a href="review.html">Hotfut SPR City </a></h1>
        <p><i class="fa-solid fa-star"></i>4.0 [5]</p>
       </div>
       <p class="opacity-50">Stephenson road, Perambur</p>
       <img src="../pic/Mask group (1).png" alt="" srcset="" class="mx-auto w-full">
       <div class="mt-2">
        <div class="flex items-center">
            <i class="fa-solid fa-futbol"></i>
            <p class="text-[8px]">Badminton, Box Cricket, Cricket,  Football, Tennis</p>
        </div>
       </div>
     </div>
     <hr class="mt-1.5">
     <div>
       <div class="flex justify-between items-center">
        <h1 class="text-[1rem] font-bold"><a href="review.html">Hotfut SPR City </a></h1>
        <p><i class="fa-solid fa-star"></i>4.0 [5]</p>
       </div>
       <p class="opacity-50">Stephenson road, Perambur</p>
       <img src="../pic/Mask group.png" alt="" srcset="" class="mx-auto w-full">
       <div class="mt-2">
        <div class="flex items-center">
            <i class="fa-solid fa-futbol"></i>
            <p class="text-[8px]">Badminton, Box Cricket, Cricket,  Football, Tennis</p>
        </div>
       </div>
     </div>
     <hr class="mt-1.5">
     <div>
       <div class="flex justify-between items-center">
        <h1 class="text-[1rem] font-bold"><a href="review.html">Hotfut SPR City </a></h1>
        <p><i class="fa-solid fa-star"></i>4.0 [5]</p>
       </div>
       <p class="opacity-50">Stephenson road, Perambur</p>
       <img src="../pic/Mask group.png" alt="" srcset="" class="mx-auto w-full">
       <div class="mt-2">
        <div class="flex items-center">
            <i class="fa-solid fa-futbol"></i>
            <p class="text-[8px]">Badminton, Box Cricket, Cricket,  Football, Tennis</p>
        </div>
       </div>
     </div>
     <hr class="mt-1.5">
     <div>
       <div class="flex justify-between items-center">
        <h1 class="text-[1rem] font-bold"><a href="review.html">Hotfut SPR City </a></h1>
        <p><i class="fa-solid fa-star"></i>4.0 [5]</p>
       </div>
       <p class="opacity-50">Stephenson road, Perambur</p>
       <img src="../pic/Mask group.png" alt="" srcset="" class="mx-auto w-full">
       <div class="mt-2">
        <div class="flex items-center">
            <i class="fa-solid fa-futbol"></i>
            <p class="text-[8px]">Badminton, Box Cricket, Cricket,  Football, Tennis</p>
        </div>
       </div>
     </div>
     <hr class="mt-1.5">
     <div>
       <div class="flex justify-between items-center">
        <h1 class="text-[1rem] font-bold"><a href="review.html">Hotfut SPR City </a></h1>
        <p><i class="fa-solid fa-star"></i>4.0 [5]</p>
       </div>
       <p class="opacity-50">Stephenson road, Perambur</p>
       <img src="../pic/Mask group.png" alt="" srcset="" class="mx-auto w-full">
       <div class="mt-2">
        <div class="flex items-center">
            <i class="fa-solid fa-futbol"></i>
            <p class="text-[8px]">Badminton, Box Cricket, Cricket,  Football, Tennis</p>
        </div>
       </div>
     </div>
     <hr class="mt-1.5">
  </div>
<!-- footer part -->
<div class="dock dock-md max-w-[360px] mx-auto">
  <button class="dock-active">
    <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt"><polyline points="1 11 12 2 23 11" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></polyline><path d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path><line x1="12" y1="22" x2="12" y2="18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></line></g></svg>
    <span class="dock-label">Home</span>
  </button>
  <button >
    <i class="fa-solid fa-earth-americas"></i>
    <span class="dock-label"><a href="review.html">Turf</a></span>
  </button>
  <button>
    <i class="fa-solid fa-book"></i>
    <span class="dock-label">Booking</span>
  </button>
  <button>
    <i class="fa-solid fa-bookmark"></i>
    <span class="dock-label">Favorites</span>
  </button>
  <button>
    <i class="fa-solid fa-user"></i>
    <span class="dock-label">Profile</span>
  </button>
</div>
</body>
</html>